{% extends "layout.html"%}
{% block content %}
  <P> Das Mittelstand 4.0-Kompentenzzentrum Berlin gibt Antworten auf diese und weitere Fragen aus der
    Unternehmenrischen Praxis. als zentrale Anlaufstelle für alle Unternehmen in Berlin und Brandenburg
    arbeitet das Kompentenzzentrum branchenübergreifend. Auf dieser Website finden Sie in Zukunft alle
    Informationen über <strong>_Gemeinsam digital</strong></p>
    <br>
  <p> Wir arbeiten direkt mit den Unternehmen: niderschwellig, praxisnah und konkret<p>
    <img src="img_avatar.png" alt="Avatar" style="width:200px">
    <img src="img_avatar.png" alt="Avatar" style="width:200px">
    <img src="img_avatar.png" alt="Avatar" style="width:200px">
    <img src="img_avatar.png" alt="Avatar" style="width:200px">

  <div class= "w3-container w3-blue">
    <h5>Personal</h5>
    <p>_Digitales Marketing/Digital Vertrieb<br>
       _Social Media Strategie<br>
       _CRM und Qualitätsmanagent<br>
       _Medienkompetenz<br>
       _IT-Sicherheit(Basics)<br>
       <br>
       _Marketing Analytics/Customer Intelligence<br>
       _Content Marketing/Mobile commerce<br>
       _Mobile Usability/Responsive Design<br>
       _IT-Sicherheit(Umgang mit Kunden-/Unternehmensdaten)<br></p>








{% endblock content%}
